{%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,600,800,900,1000,1200', image: image -%}{%- endcapture -%}
{%- assign image_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

<div class="AspectRatio {{ classes }}" style="max-width: 100%; width: 100%; --aspect-ratio: {{ image.aspect_ratio }}">
  <img src="{{ 'transparent.png' | asset_img_url: '1x' }}" class="Image--lazyLoad{% if fade %} Image--fadeIn{% endif %}" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ image.alt | escape }}" data-media-id="{{ image.id }}">
</div>
