<style>
  h1.SectionHeader, h1.Form__Title{
  	color:#b3b5dc;
    white-space: nowrap;
    text-transform:lowercase;
  }
  
  @media screen and (min-width: 1008px){
    .SectionHeader:not(:only-child), 
    .Form__Title:not(:only-child){
        margin-bottom: 70px;
    }
  }
  .Form__Legend{
  	font-family: sofia-pro,sans-serif!important;
    font-size:35px;
    text-transform:uppercase;
  }
  
  
.labelLogin{
    font-family: 'sofia-pro';
    font-size: 22px;
  text-transform: uppercase;}
  
  .Form__Input, .Form__Input::placeholder{
    font-size: 24px;
    font-family: 'baskerville-display-pt';
  }
  
  .Form__Hint span{
  	font-size: 24px;
    font-family: 'baskerville-display-pt';
  }
  
  .Form__Hint a.Link, .Form__Hint button.Link{
  	font-size: 24px;
    font-family: 'baskerville-display-pt';
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .Form__Hint:not(:last-child) {
    margin-bottom: 0;
}
  
</style>
<section data-section-id="login" data-section-type="login">
  <div class="Container">
    <div class="PageContent PageContent--fitScreen PageContent--extraNarrow">
      {%- assign is_recover_active = false -%}

      {%- form 'recover_customer_password' -%}
        {%- if form.errors or form.posted_successfully? -%}
          {%- assign is_recover_active = true -%}
        {%- endif -%}
      {%- endform -%}

      {%- comment -%}
      --------------------------------------------------------------------------------------------------------------------
      CUSTOMER LOGIN FORM
      --------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      {%- if is_recover_active -%}
        {%- assign login_default_visibility = 'display: none' -%}
      {%- else -%}
        {%- assign login_default_visibility = 'display: block' -%}
      {%- endif -%}

      {%- form 'customer_login', name: 'login', class: 'Form Form--spacingTight', id: 'customer_login', style: login_default_visibility -%}
        <header class="Form__Header">
          <h1 class="SectionHeader SectionHeader--center">{{ 'customer.login.title' | t }}</h1>
          
          <p class="Form__Legend">{{ 'customer.login.description' | t }}</p>
        </header>

        {%- if form.errors -%}
          <p class="Form__Alert Alert Alert--error">
            {{- form.errors.messages['form'] -}}
          </p>
        {%- endif -%}

        <div class="Form__Item">
          <label class="labelLogin">{{ 'customer.login.email' | t }}</label>
          <input type="email" class="Form__Input" name="customer[email]" required="required" placeholder="{{ 'customer.login.email' | t }}" aria-label="{{ 'customer.login.email' | t }}" autofocus>
          
        </div>

        <div class="Form__Item">
          <label class="labelLogin">{{ 'customer.login.password' | t }}</label>
          <input type="password" class="Form__Input" name="customer[password]" required="required" placeholder="{{ 'customer.login.password' | t }}" aria-label="{{ 'customer.login.password' | t }}">
          
        </div>

        <button type="submit" class="Form__Submit Button Button--account Button--primary Button--full">{{ 'customer.login.submit' | t }}</button>

        <div class="Form__Hint Form__Hint--center">
          <span class="Text--subdued">{{ 'customer.login.register_label' | t }}</span>
          <a href="{{ routes.account_register_url }}" class="Link Link--secondary">{{ 'customer.login.register_link' | t }}</a>
        
      </div>
      
      <div class="Form__Hint Form__Hint--center">
          <span class="Text--subdued">Forgot password?</span>
          <button type="button" class=" Link Link--primary" data-action="toggle-recover-form">{{ 'customer.login.forgot' | t }}</button>
      </div>
      
      
      {%- endform -%}

      {%- comment -%}
      --------------------------------------------------------------------------------------------------------------------
      CUSTOMER RECOVERY FORM
      --------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      {%- if is_recover_active -%}
        {%- assign recover_default_visibility = 'display: block' -%}
      {%- else -%}
        {%- assign recover_default_visibility = 'display: none' -%}
      {%- endif -%}

      {%- form 'recover_customer_password', name: 'recover', class: 'Form Form--spacingTight', id: 'recover_customer_password', style: recover_default_visibility -%}
        <header class="Form__Header">
          <h1 class="Form__Title  ">{{ 'customer.recover_password.title' | t }}</h1>

          {%- unless form.posted_successfully? -%}
            <p class="Form__Legend">{{ 'customer.recover_password.description' | t }}</p>
          {%- endunless -%}
        </header>

        {%- if form.errors -%}
          <p class="Form__Alert Alert Alert--error">
            {{- form.errors.messages['form'] -}}
          </p>
        {%- endif -%}

        {%- if form.posted_successfully? -%}
          <p class="Form__Alert Alert Alert--success">
            {{- 'customer.recover_password.success' | t -}}
          </p>
        {%- endif -%}

        <div class="Form__Item">
          <label class="labelLogin">{{ 'customer.login.email' | t }}</label>
          <input type="email" class="Form__Input" name="email" required="required" placeholder="{{ 'customer.recover_password.email' | t }}" aria-label="{{ 'customer.recover_password.email' | t }}" autofocus>
          
        </div>

        <button type="submit" class="Form__Submit Button Button--primary Button--full">{{ 'customer.recover_password.submit' | t }}</button>

        <div class="Form__Hint Form__Hint--center">
          <span class="Text--subdued ">{{ 'customer.recover_password.login_label' | t }}</span>
          <button type="button" class="Link Link--secondary" data-action="toggle-recover-form">{{ 'customer.recover_password.login_link' | t }}</button>
          
        </div>
      
      
      {%- endform -%}
    </div>
  </div>
</section>